
<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <h2>Über mich </h2>

            <div class="row">
                <div class="col-lg-3">

                </div>
            </div>

            <p>ich bin ein junger innovativer Kopf aus der schönen Hansestadt Bremen, der sich Ihrer Herausforderung im Bereich Softwareentwicklung und Beratung stellt.  Ich unterstütze Sie  gerne in der  Projektbetreuung und Umsetzung von Unternehmensspezifischen Prozessen. </p>

            <p ng-if="name">Ich hoffe ich habe Sie neugierig  gemacht {{name}}?  <br></p>
            <p ng-if="!name"> Nachfolgend erhalten Sie einen kleinen Einblick in meine Fähigkeiten</p>

            <br>

            <div class="row">
                <div class="progress">
                    <progressbar class="progress" value="100" type="warning">
                        <span class="progress-type">Projektmanagement</span>
                        <span class="progress-completed">100%</span>
                    </progressbar>
                </div>
                <div class="progress">
                    <progressbar class="progress" value="95" type="info">
                        <span class="progress-type">Individualsoftware / Prozessmanagement</span>
                        <span class="progress-completed">95%</span>
                    </progressbar>
                </div>
                <div class="progress">
                    <progressbar class="progress" value="90" type="success">
                        <span class="progress-type">MS-SQL</span>
                        <span class="progress-completed">90%</span>
                    </progressbar>
                </div>
                <div class="progress">
                    <progressbar class="progress" value="35" type="info">
                        <span class="progress-type">C#</span>
                        <span class="progress-completed">35%</span>
                    </progressbar>
                </div>
                <div class="progress">
                    <progressbar class="progress" value="85" type="warning">
                        <span class="progress-type">JavaScript / One-Page-Applications</span>
                        <span class="progress-completed">85%</span>
                    </progressbar>
                </div>
                <div class="progress">
                    <progressbar class="progress" value="60" type="danger">
                        <span class="progress-type">CSS / CSS3 / LESS</span>
                        <span class="progress-completed">60%</span>
                    </progressbar>
                </div>

                <div class="progress">
                    <progressbar class="progress" value="90" type="danger">
                        <span class="progress-type">List & Label</span>
                        <span class="progress-completed">90%</span>
                    </progressbar>
                </div>
            </div>
        </div>
    </div>
</section>