<section id="projectmanagement" class="content-section text-center">
    <div class="projectmanagement-section">
        <div class="container">
            <div class="col-lg-7 col-lg-offset-5 page-scroll">
                <h2>Projektmanamgent</h2>

                <p>Gerade in KMU-Unternehmen wird bei Softwareprojekten der Zeitaufwand bei der Definition von Anforderungen und Einführung der Software oft unterschätzt.  Dies führt nicht selten zu Verzögerungen und Mehrkosten. </p>
                <p>Eine professionelle externe Unterstützung kann hier sinnvoll sein. <br> Durch Fokussierung des Projektziel und erprobte Arbeitsweisen bringe ich Ihr Projekt kontinuierlich vorran. </p>
                <br>
                <a ng-click="$root.goToSection('contact')" class="btn btn-default btn-lg">Kontaktieren Sie mich</a>
            </div>
        </div>
    </div>
</section>