<section id="timeline" class=" container">

    <h2 >Timeline</h2>
    <ul class="timeline">
        <li>
            <div class="timeline-badge">2008</div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Ausbildung IT-Systemkaufmann</h4>
                    <small class="text-muted"><i class="fa fa-clock-o"></i> 09-2008 - 05-2011</small>
                </div>
                <div class="timeline-body">
                    <p>Im Rahmen der Ausbildung   erhielt ich erste Einblicke im Bereich Individualsoftware und durch die damals geringe Unternehmensgröße der <a href="www.trenz.ag" target="_blank"> TRENZ AG </a> boten sich viele Möglichkeiten eigene Projekte zu leiten und hier im direkten Kundenkontakt individuelle Anforderungen  umzusetzen.</p>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge">2010</div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Deutschlandweite Schulung</h4>
                    <small class="text-muted"><i class="fa fa-clock-o"></i> 09-2010</small>
                </div>
                <div class="timeline-body">
                    <p>Im Rahmen einer Softwareeinführung erhielt ich die Möglichkeit die entsprechenden Kenntnisse an die in Deutschland verteilten Benutzer zu vermitteln und diese bei der Einführung zu unterstützen. </p>
                    <p>Nach  erfolgreicher Durchführungen folgen bis heute laufend Kundenschulung und Beratung bei der Einführung von Software</p>
                </div>
            </div>
        </li>
        <li >
            <div class="timeline-badge warning"> 2011</div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Projektleitung Individualsoftware</h4>
                    <small class="text-muted"><i class="fa fa-clock-o"></i> 05-2011-08-2012</small>
                </div>
                <div class="timeline-body">
                    <p>Leitung von agilen Softwareprojekten in verschiedenen Branchen.  <br>Hierbei sind Systeme in den folgenden Bereichen entstanden: </p>
                    <ul>
                        <li>Warenwirtschaftssystem für ein Handelsunternehmen</li>
                        <li>Reporting-System für ein Vertriebsunternehmen</li>
                        <li>Personalplanung für eine maritime Einrichtung</li>
                        <li>Prognosetool für einen Großunternehmen</li>
                    </ul>

                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge danger">2012</div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Fachhochschulreife Informatik</h4>
                    <small class="text-muted"><i class="fa fa-clock-o"></i> 08-2012 - 09-2013</small>
                </div>
                <div class="timeline-body">
                    <p>Erlangen der Fachhochschulreife mit der Ausrichtung auf Informatik. <br> Hierbei wurde im Rahmen eins Projekts eine wissenschaftliche Arbeit für den Bereich Nahverkehrsysteme entwickelt.</p>
                    <ul>
                        <li><a href="data/INS.pdf">Intelligente Nahverkehrssysteme</a>: Routenoptimierung im Nahverkehr</li>
                    </ul>
                 </div>
            </div>
        </li>
        <li>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">IT-Consultant</h4>
                    <small class="text-muted"><i class="fa fa-clock-o"></i> 08-2012 - bis heute</small>
                </div>
                <div class="timeline-body">
                    <p>Durchführung von Consultingtätigkeiten für die <a href="www.trenz.ag" target="_blank"> TRENZ AG </a> im Bereich Kundenbetreung,  Anforderungsdefinition und Umsetzung. Hierbei wurden hauptsächlich Reports, sowie interaktive Dashboards für die Unternehmensleitung entwickelt.</p>

                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Auszeichnung Bremens Beste</h4>
                </div>
                <div class="timeline-body">
                    <p>Auszeichnung für den Abschluss der Fachoberschule durch gute Leistung.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge danger">2013</div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Studium Medieninformatik</h4>
                    <small class="text-muted"><i class="fa fa-clock-o"></i> 08-2012 - 09-2013</small>
                </div>
                <div class="timeline-body">
                    <p>Vollzeitstudium der Medieninformatik an der HS-Bremen. <br> Im Rahmen des Studiums entstanden bis jetzt verschiedene Projekte darunter: </p>
                    <ul>
                        <li><a href="https://github.com/B-Stefan/Risiko" target="_blank">Java: Risiko</a>: Portierung des populären Brettspiels</li>
                        <li><a href="https://github.com/B-Stefan/RUNORLOSE" target="_blank">Run Or Lose</a>: Mobiles Spiel auf Javascript Basis</li>
                        <li><a href="https://github.com/B-Stefan/SlideASeal" target="_blank">Slide a Seal</a> Multiplayerspiel mittels node.js, socket.io und Javascript  </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Förderung</h4>
                    <small class="text-muted"><i class="fa fa-clock-o"></i> 08-2013 - 09-2015</small>
                </div>
                <div class="timeline-body">
                    <p> Im Rahmen eines Stipendiums wird das Studium durch das Bundesministerium für Bildung und Forschung gefördert.</p>
                </div>
            </div>
        </li>
        <li>
            <div class="timeline-badge success"> {{currentYear}} </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="timeline-title">Ihr Projekt?</h4>
                    <small class="text-muted"><i class="fa fa-clock-o"></i>{{currentYear}}</small>
                </div>
                <div class="timeline-body">
                    <p>Eventuell kann ich Ihnen bei Ihrem Projekt weiterhelfen. <br><a ng-click="$root.goToSection('contact')" >Sprechen Sie mich doch direkt einmal an</a></p>
                </div>
            </div>
        </li>
    </ul>
</section>