<!DOCTYPE html>
<html>
<head>
    <title>Soory</title>

    <link rel="stylesheet" href="/stylesheets/style.css{{cachebust}}"/>
</head>
<body>
<section class="intro day">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Sorry </h1>
                    <p>Diese Seite ist noch nicht öffentlich. <br>Bitte wenden Sie sich direkt an mich. </p>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>