
<div class="hidden-print" id="page-top" static-include="templates/particle/Intro.hbs"></div>
<div static-include="templates/particle/AboutMe.hbs"></div>
<div style="height: auto" static-include="templates/particle/Timeline.hbs"></div>
<div class="hidden-print" static-include="templates/particle/ProjectManagement.hbs"></div>
<div static-include="templates/particle/Contact.hbs"></div>

<footer class="hidden-print">
    <a href="./imprint">Impressum</a>
</footer>
